<!DOCTYPE html>
<html>

    <head>
        <title>Consultar Información</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"></meta>
        <link rel="stylesheet" href="../css/consultarInformacion.css" type="text/css"></link>
    </head>

    <body>
        <section class="consultarInformacion" id="consultarInformacion">
            <section class="consultar" id="consultar">
                <h1>CONSULTAR INFORMACIÓN</h1>
                <section class="datosPersonales">
                    <h5>Número de alumnos totales: </h5>
                    <input class="controls" type="text" name="numeroAlumnos" th:value="${alumnosTotal}" id="numeroAlumnos" value=""
                           placeholder="Numero"></input>
                    <table class="tabla">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Número de Alumnos</th>
                            </tr>
                        </thead>
                        <tbody class="cuerpo" id="contenedor">
                            <tr th:each="empresas : ${empresas}">
                                <td>
                                    <span th:text="${empresas.nombre}"></span>
                                </td>
                                <td>
                                    <span th:text="${empresas.capacidad}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <input class="botones" type="button" name="botonAtras" id="botonAtras" value="Atrás"
                       onclick=atras() style="margin-left: 418px;"></input>
            </section>
        </section>
        <script src="../js/consultarInformacion.js"></script>
    </body>
</html>