<!DOCTYPE html>
<html>
    <head>
        <title>Rellenar Informes</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"></meta>
        <script src="html2pdf.buncle.min.js"></script>
        <link rel="stylesheet" href="../css/informeActas.css" type="text/css"></link>

    </head>

    <body>
        <section class="informe" id="informe">
            <h1>INFORME/ACTAS</h1>
            <section class="informeDatos" id="informeDatos">
                <table class="tablaGlobal" id="tablaGlobal">
                    <tbody>
                        <tr>
                            <th>
                                <table class="tabla" id="tabla">
                                    <thead>
                                        <tr>
                                            <th>Nombre Alumno</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cuerpo" id="contenedor">
                                        <tr th:each="alumnos : ${alumnos} ">
                                            <td>
                                                <span th:text="${alumnos.nombre}"></span>
                                            </td>
                                        </tr>              
                                    </tbody>
                                </table>
                            </th>
                            <th>
                                <table class="tabla" id="tabla">
                                    <thead>
                                        <tr>
                                            <th>Nota de la práctica</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cuerpo" id="contenedor">
                                        <tr th:each="practicas : ${practicas} ">
                                            <td>
                                                <span th:text="${practicas.nota_practica}"></span>
                                            </td>
                                        </tr>              
                                    </tbody>
                                </table>
                            </th>
                            <th>
                                <table class="tabla" id="tabla">
                                    <thead>
                                        <tr>
                                            <th>Comentarios de la práctica</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cuerpo" id="contenedor">
                                        <tr th:each="practicas : ${practicas} ">
                                            <td>
                                                <span th:text="${practicas.informe}"></span>
                                            </td>
                                        </tr>              
                                    </tbody>
                                </table>
                        </tr>
                    </tbody>
                </table>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js"></script>
                <input class="boton" type="button" name="botonAtras" id="botonAtras" value="Atras" onclick=atras()></input>
                <input class="boton" type="button" name="botonInformeGeneral" id="botonInformeGeneral" value="Informe General" onclick=informeGeneral() style="margin-left: 20px;"></input>
                <input class="boton" type="button" name="botonGenerarActas" id="botonGenerarActas" value="Generar actas" onclick=generarActas() style="margin-left: 20px;"></input>
            </section>
        </section>
        <script src="../js/informeActas.js"></script>
    </body>
</html>

