<!Doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"></meta>
        <title>Formulario Login</title>
        <link rel="stylesheet" href="css/login.css"></link>
    </head>
    <body>
        <form name="formularioLogin" th:action ="@{/login}" th:object="${user}" method ="post">
            <section class="form-login">
                <h5>Formulario Login</h5>
                <input class="controls" type="text" name="usuario" id="usuario" th:field="*{correo}" value="" placeholder="Usuario"></input>
                <input class="controls" type="password" name="contraseña" id="contraseña" th:field="*{password}"value="" placeholder="Contraseña"></input>
                <button class="btn btn-success">Inicio de sesión</button>
            </section>
        </form>
    </body>
</html>