<!Doctype html>
<html lang="en" dir="ltr">
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"></meta>
        <title>Seleccionar Prácticas</title>
        <link rel="stylesheet" href="../css/seleccionarPracticas.css"></link>
    </head>
    <body>

        <section class="form-practicas">
            <h1>SELECCIONAR PRÁCTICAS</h1>
            <h2>Seleccionar un máximo de 10 ofertas de prácticas.</h2>
            <table class="tabla" id="tabla">
                <thead>
                    <tr>
                        <th>Orden de Preferencia</th>
                        <th>Nombre Prácticas</th>
                        <th>Horario</th>
                        <th>Plazas</th>
                        <th>Tiempo de Prácticas(semanas)</th>
                        <th>ID del Tutor</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="cuerpo" id="contenedor">

                    <tr th:each="empresa : ${listaEmpresas}">
                        <form name="formularioLogin" th:action ="@{/alumno/seleccionarPracticas/guardarSeleccion/{id}(id = ${empresa.id})}" th:object="${seleccion}" method ="post">
                            <td>
                                <input class="controls" type="text" name="preferencia" id="preferencia" th:field="*{preferencia}"
                                       placeholder="0-10"></input>
                            </td>

                            <td>
                                <span th:text="${empresa.nombre}"></span>
                            </td>

                            <td>
                                <span th:text="${empresa.turnos}"></span>
                            </td>

                            <td>
                                <span th:text="${empresa.capacidad}"></span>
                            </td>

                            <td>
                                <span th:text="${empresa.semanas}"></span>
                            </td>

                            <td>
                                <span th:text="${empresa.tutor_id}"></span>
                            </td>

                            <td>
                                <th><button class="btn btn-success">Guardar</button></th>
                            </td>
                        </form>
                    </tr>
                    <script src="../js/seleccionarPracticas.js"></script>
                </tbody>
            </table>
            <input class="btn atras" type="button" name="botonAtras" id="botonAtras" value="Atrás" onclick=atras()
                   style="margin-left: 40px;"></input>
        </section>
        </form>
    </body>
</html>