<!Doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
            <title>Formulario Login</title>
            <link rel="stylesheet" href="../css/errorLogin.css"></link>
    </head>
    <body>
        <section class="form-login">
            <h5>Error en el login, por favor, vuelva a intentarlo.</h5>
            <button class="btn btn-success" onclick=volver()>Volver</button>
        </section>
        <script src="../js/login.js"></script>
    </body>
</html>