<!DOCTYPE html>
<html>
    <head>
        <title>Empresas
        </title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"></meta>
        <link rel="stylesheet" href="../css/verEmpresa.css" type="text/css"></link>
    </head>

    <body>
        <section class="consultarInformacion" id="consultarInformacion">
            <section class="consultar" id="consultar">
                <h1>VER EMPRESAS</h1>
                <section class="datosPersonales">
                    <table class="tabla">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre de la empresa</th>
                                <th>Dirección</th>
                                <th>Capacidad</th>
                                <th>Id del tutor</th>
                                <th>Teléfono</th>
                                <th>Turnos</th>
                                <th>Semanas</th>
                                <th>Borrar</th>

                            </tr>
                        </thead>
                        <tbody class="cuerpo" id="contenedor">
                            <tr th:each="empresa : ${listaEmpresas}">
                                <td>
                                    <span th:text="${empresa.id}"></span>
                                </td>
                                <td>
                                    <span th:text="${empresa.nombre}"></span>
                                </td>
                                <td>
                                    <span th:text="${empresa.direccion}"></span>
                                </td>
                                <td>
                                    <span th:text="${empresa.capacidad}"></span>
                                </td>
                                <td>
                                    <span th:text="${empresa.tutor_id}"></span>
                                </td>
                                <td>
                                    <span th:text="${empresa.telefono}"></span>
                                </td>
                                <td>
                                    <span th:text="${empresa.turnos}"></span>
                                </td>
                                <td>
                                    <span th:text="${empresa.semanas}"></span>
                                </td>
                                
                                <th><a th:href="@{/tutor/verEmpresa/eliminarEmpresa/{id}(id = ${empresa.id})}">Borrar</a></th>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <input class="botones" type="button" name="botonAtras" id="botonAtras" value="Atrás"
                       onclick=atras() style="margin-left: 418px;"></input>

                <input class="botones" type="button" name="botonAltaEmpresa" id="botonAltaEmpresa" value="Dar de Alta Empresa"
                       onclick=darAltaEmpresa() style="margin-left: 457px;"></input>
            </section>
        </section>
        <script src="../js/verEmpresa.js"></script>
    </body>
</html>